remote_theme: wet-boew/gcweb-jekyll
title: "GCWeb compiled demos"

# Collections
collections:
  wetboew-demos:
    output: true

#
# Page front matter defaults
defaults:
  - scope:
      path: "" # Ensure it's applied to all pages
    values:
      layout: default
